<%- include('partials/header') %>
<link rel="stylesheet" href="/css/styles.css">
<style media="screen">
* { padding:0;margin:0;}

body { position:relative;width:100%;}

.parallax-container {
  position:relative;
  overflow:hidden;
  height: 350px;
}

.parallax {
  position:absolute;
  top:0;
  height:120%;
  width:100%;

  background-image:url(https://i.pinimg.com/originals/de/06/e1/de06e1b1e4a49f033f52d1ae0a2d49ad.png);
  background-color:#8e24aa;
  background-size:cover;
}

h1,h3,p,h2,blockquote,li { font-family:'Merriweather', sans-serif;font-weight:300;}

.containereu {
  width:80%;

  position:relative;
  top:-250px;

  background-color:#fff;
  margin:0 auto;

  padding:50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 16px 48px rgba(0, 0, 0, 0.2);
}

h1 { font-size:50px;margin-bottom:10px;}
h3 { font-size:18px;margin-bottom:20px;}
h2 { font-size:34px;margin-bottom:10px;}
p,blockquote { font-size:19px;}
li { font-size:19px;}

p,ul { margin-bottom:20px;}
blockquote { margin-left:35px;}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: #8e24aa;
  font-size:2.5rem;
}

</style>

<!-- here -->
  <div class="parallax-container">
    <div class="parallax" speed="1.5"></div>
  </div>

  <div class="containereu">
    <div class="container">
  <div class="row">

    <div style="" class="col-xs-12 col-sm-6 col-md-2">
      <div class="">
        <a href="/eachuser/<%=posts._id%>"><img style="width:160px; height:160px ; padding:5px;border-style: dashed;   border-radius: 50%; object-fit: cover;" src="/upload/<%= posts.profilepic%>" alt="">      </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-10">
      <div class="" style="color:#8e24aa;">
        <h2  style="  border-radius: 3px;"> &nbsp;&nbsp;<a href="/eachuser/<%=posts._id%>"><%=posts.displayname%></a></h2>
        <p> &nbsp;&nbsp;&nbsp;About the author:<br> &nbsp;&nbsp;&nbsp;<%=posts.about%></p>
      </div>
    </div>

  </div>
</div>
<hr style="height:3px;border-width:0;color:gray;background-color:#8e24aa">
  <%for(var i=0;i<posts.secret.length;i++){%>
    <% if(JSON.stringify(posts.secret[i]._id)===JSON.stringify(theid)){%>
      <h1><%=posts.secret[i].title%></h1>

      <span style="color:white; background:#8e24aa; padding:4px; border-radius:3px;">Favourites ❤️: </span> &nbsp;&nbsp;<%=posts.secret[i].favourites.length%><br><br>
    TAGS:   <% for(var l=0;l<posts.secret[i].tags.length;l++){%>
      <span style="color:white; background:#8e24aa; padding:4px; border-radius:3px;"><%=  posts.secret[i].tags[l]%></span>
        <% } %><br><br>
      <p><%=posts.secret[i].content%></p>
<br>
      <% if(posts.secret[i].blogImg!=undefined){var str=posts.secret[i].blogImg;%>
        <% var ext = str.substring(str.lastIndexOf("."),str.length+1);%>
            <% if(ext=== ".MP4" || ext=== ".MOV" || ext=== ".WMV" || ext=== ".WEBM" || ext=== ".mp4"){%>
          <video  style=" width:70%; margin-left: auto;margin-right: auto;display: block" autoplay poster="posterimage.jpg" controls>
            <source src="/upload/<%= posts.secret[i].blogImg%>" type="video/mp4">
          </video>
            <% } else{%>
          <img style=" width:70%; margin-left: auto;margin-right: auto;display: block" alt="here is it <%=posts.secret[i].blogImg%>" src="/upload/<%=posts.secret[i].blogImg%>">
  <% }
} %>
      <% if(posts.secret[i].blogImg2!=undefined){var str=posts.secret[i].blogImg2;%>
        <% var ext = str.substring(str.lastIndexOf("."),str.length+1);%>
            <% if(ext=== ".MP4" || ext=== ".MOV" || ext=== ".WMV" || ext=== ".WEBM" || ext=== ".mp4"){%>
              <br>
          <video  style="width:70%; margin-left: auto;margin-right: auto;display: block" autoplay poster="posterimage.jpg" controls>
            <source src="/upload/<%= posts.secret[i].blogImg2%>" type="video/mp4">
          </video>
            <% } else{%>
      <img style="width:70%; margin-left: auto;margin-right: auto;display: block" alt="here is it <%=posts.secret[i].blogImg%>" src="/upload/<%=posts.secret[i].blogImg2%>">
      <% }} %>
      <% if(posts.secret[i].blogImg3!=undefined){var str=posts.secret[i].blogImg3;%>
        <% var ext = str.substring(str.lastIndexOf("."),str.length+1);%>

            <% if(ext=== ".MP4" || ext=== ".MOV" || ext=== ".WMV" || ext=== ".WEBM" || ext=== ".mp4"){%>
          <video  style=" width:70%; margin-left: auto;margin-right: auto;display: block" autoplay poster="" controls>
            <source src="/upload/<%= posts.secret[i].blogImg3%>" type="video/mp4">
          </video>
            <% } else{%>
      <img style="width:70%; margin-left: auto;margin-right: auto;display: block" alt="here is it <%=posts.secret[i].blogImg%>" src="/upload/<%=posts.secret[i].blogImg3%>">
      <% }} %>
  <%}%>
    <%}%>

<hr style="height:3px;border-width:0;color:gray;background-color:#8e24aa">
  </div>

<!-- here -->

<%- include('partials/footer') %>
