
<%- include("partials/header"); -%>

  <% var no =0;%>
  <%  posts.forEach(function(post){ %>

<%  for(var i=0;i<post.secret.length;i++){ console.log(post.secret[i].tags[i] + "=post.secret" + "   serached is " + searched); %>
  <% if(post.secret[i].title.includes(searched)){%> no++;
    <h1 style="color:white;"><%=post.secret[i].title%></h1>
    <p style="color:white;">
    <%=post.secret[i].content.substring(1, 150)+ " ..."%>
    <a href="/eachpost/<%=post.secret[i]._id%>">Read More</a>
    <br>
    <% for(var l=0;l<post.secret[i].tags.length;l++){%>
    <span style="color:white; background:darkblue;"><%=  post.secret[i].tags[l]%></span>
      <% } %>
    </p>
<%}%>
    <% }}) %>
    <%if(no==0){ %>
    <h3 style="color:white;">Sorry! No blogs with the searched title!</h3>
      <%} %>
      <% var nope=0;%>
      <%  posts.forEach(function(post){ %>

    <%  for(var i=0;i<post.secret.length;i++){ console.log(post.secret[i].tags[i] + "=post.secret" + "   serached is " + searched); %>
      <%for(var j=0;j<post.secret[i].tags.length;j++) if(post.secret[i].tags[j].includes(searched)){nope++;%>
        <h1 style="color:white;"><%=post.secret[i].title%></h1>
        <p style="color:white;">
        <%=post.secret[i].content.substring(1, 150)+ " ..."%>
        <a href="/eachpost/<%=post.secret[i]._id%>">Read More</a><br>
        <% for(var l=0;l<post.secret[i].tags.length;l++){%>
        <span style="color:white; background:darkblue;"><%=  post.secret[i].tags[l]%></span>
          <% } %>
        </p>
    <%}%>
        <% }}) %>
        <%if(nope===0){ %>
        <h3 style="color:white;">Sorry! No blogs with the searched tag either!</h3>
          <%} %>

<%- include("partials/footer"); -%>
