<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">

    <h1 class="display-3" style="color:white;">Read these blogs!</h1>

    <% usersWithSecrets.forEach(function(user){ %>

        <% for(var i=0;i<user.secret.length;i++){%>
      <h3 class="secret-text" ><%= user.secret[i].title%></h3><br>
      <p style="color:green;"><%=  user.secret[i].content%></p>
      <% if(user.secret[i].blogImg!=undefined){ var str=user.secret[i].blogImg;%>
          <% var ext = str.substring(str.lastIndexOf("."),str.length+1);%>
          <% if(ext=== ".MP4" || ext=== ".MOV" || ext=== ".WMV" || ext=== ".WEBM" || ext=== ".mp4"){%>
        <video  style=" width:50%;" autoplay poster="posterimage.jpg" controls>
          <source src="upload/<%= user.secret[i].blogImg%>" type="video/mp4">
        </video>
          <% } else{%>
              <img style=" width:50%;" alt="here is it <%=user.secret[i].blogImg%>" src="upload/<%= user.secret[i].blogImg%>">
              <% } %>

<% } %>
      <% if(user.secret[i].blogImg2!=undefined){var str=user.secret[i].blogImg2;%>
          <% var ext = str.substring(str.lastIndexOf("."),str.length+1);%>
          <% if(ext=== ".MP4" || ext=== ".MOV" || ext=== ".WMV" || ext=== ".WEBM" || ext=== ".mp4"){%>
        <video  style=" width:50%;" autoplay poster="posterimage.jpg" controls>
          <source src="upload/<%= user.secret[i].blogImg2%>" type="video/mp4">
        </video>
          <% } else{%>
      <img style=" width:50%;" alt="here is it <%=user.secret[i].blogImg%>" src="upload/<%= user.secret[i].blogImg2%>">
        <% } %>
      <% } %>
      <% if(user.secret[i].blogImg3!=undefined){var str=user.secret[i].blogImg3;%>
        <% var ext = str.substring(str.lastIndexOf("."),str.length+1);%>
        <% if(ext=== ".MP4" || ext=== ".MOV" || ext=== ".WMV" || ext=== ".WEBM" || ext=== ".mp4"){%>
      <video  style=" width:50%;" autoplay poster="posterimage.jpg" controls>
        <source src="upload/<%= user.secret[i].blogImg3%>" type="video/mp4">
      </video>
        <% } else{%>
      <img style=" width:50%;" alt="here is it <%=user.secret[i].blogImg%>" src="upload/<%= user.secret[i].blogImg3%>">
      <% } %>
      <% } %>
      <br>
      <% for(var j=0;j<user.secret[i].tags.length;j++){%>
      <span style="color:white; background:darkblue;"><%=  user.secret[i].tags[j]%></span>
        <% } %>
      <% } %>
  <% }) %>



    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a blog</a>
  </div>
</div>

<%- include('partials/footer') %>
